<footer>
    <div class="container">
        <a href="{{path('app_mentions')}}">Mentions légales</a>
        <a href="{{path('app_contact')}}">Contact</a>
        <p>&copy;Roissy Parks</p>
    </div>
</footer>